---
layout: page
---
{% assign categories = site.pages | map: 'categories' | uniq %}
{% assign pages = site.pages | where_exp:"item", "item.path contains 'documentation' and item.title != page.title" %}

{% for category in categories %}
    <h3>{{category}}</h3>
    <ul>
        {% for page in pages %}
            {% assign cat = page.categories %}
            {% if cat == category %}
                <li><a href="{{page.url}}">{{ page.title }}</a></li>
            {% endif %}
            {{% endif %}}
        {% endfor %}
    </ul>
{% endfor %}
